In [64]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [65]:
data = pd.read_csv('Training_Dataset_1.csv')
data.head()

,t_stamp,P1_STATE,LIT101.Pv,FIT101.Pv,MV101.Status,P101.Status,P102.Status,P2_STATE,FIT201.Pv,AIT201.Pv,...,FIT602.Pv,P601.Status,P602.Status,P603.Status,LSH601.Alarm,LSL601.Alarm,LSH602.Alarm,LSL602.Alarm,LSH603.Alarm,LSL603.Alarm
0,2024-04-23 09:15:00,1,548.8321,0.0,1,1,1,1,0.0,230.197388,...,1.017204,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
1,2024-04-23 09:15:01,1,548.8321,0.0,1,1,1,1,0.0,230.005127,...,1.005511,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
2,2024-04-23 09:15:02,1,548.8321,0.0,1,1,1,1,0.0,230.005127,...,1.005511,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
3,2024-04-23 09:15:03,1,548.8321,0.0,1,1,1,1,0.0,230.005127,...,1.013200,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active
4,2024-04-23 09:15:04,1,548.8321,0.0,1,1,1,1,0.0,230.005127,...,1.009515,1,1,1,Inactive,Inactive,Active,Inactive,Inactive,Active

In [66]:
data = data.drop(columns=['t_stamp'],axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265500 entries, 0 to 265499
Data columns (total 82 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   P1_STATE       265500 non-null  int64
 1   LIT101.Pv      265500 non-null  float64
 2   FIT101.Pv      265500 non-null  float64
 3   MV101.Status   265500 non-null  int64
 4   P101.Status    265500 non-null  int64
 5   P102.Status    265500 non-null  int64
 6   P2_STATE       265500 non-null  int64
 7   FIT201.Pv      265500 non-null  float64
 8   AIT201.Pv      265500 non-null  float64
 9   AIT202.Pv      265500 non-null  float64
 10  AIT203.Pv      265500 non-null  float64
 11  MV201.Status   265500 non-null  int64
 12  P201.Status    265500 non-null  int64
 13  P202.Status    265500 non-null  int64
 14  P203.Status    265500 non-null  int64
 15  P204.Status    265500 non-null  int64
 16  P205.Status    265500 non-null  int64
 17  P206.Status    265500 non-null  int64
 18  P207.Status    265500 non-null  int64
 19  P208.Status    265500 non-null  int64
 20  LS201.Alarm    265500 non-null  object
 21  LS202.Alarm    265500 non-null  object
 22  LSL203.Alarm   265500 non-null  object
 23  LSLL203.Alarm  265500 non-null  object
 24  P3_STATE       265500 non-null  int64
 25  AIT301.Pv      265500 non-null  float64
 26  AIT302.Pv      265500 non-null  float64
 27  AIT303.Pv      265500 non-null  float64
 28  LIT301.Pv      265500 non-null  float64
 29  FIT301.Pv      265500 non-null  float64
 30  DPIT301.Pv     265500 non-null  float64
 31  MV301.Status   265500 non-null  int64
 32  MV302.Status   265500 non-null  int64
 33  MV303.Status   265500 non-null  int64
 34  MV304.Status   265500 non-null  int64
 35  P301.Status    265500 non-null  int64
 36  P302.Status    265500 non-null  int64
 37  P4_STATE       265500 non-null  int64
 38  LIT401.Pv      265500 non-null  float64
 39  FIT401.Pv      265500 non-null  float64
 40  AIT401.Pv      265500 non-null  int64
 41  AIT402.Pv      265500 non-null  float64
 42  P401.Status    265500 non-null  int64
 43  P402.Status    265500 non-null  int64
 44  P403.Status    265500 non-null  int64
 45  P404.Status    265500 non-null  int64
 46  UV401.Status   265500 non-null  int64
 47  LS401.Alarm    265500 non-null  object
 48  P5_STATE       265500 non-null  int64
 49  FIT501.Pv      265500 non-null  float64
 50  FIT502.Pv      265500 non-null  float64
 51  FIT503.Pv      265500 non-null  float64
 52  FIT504.Pv      265500 non-null  float64
 53  AIT501.Pv      265500 non-null  float64
 54  AIT502.Pv      265500 non-null  float64
 55  AIT503.Pv      265500 non-null  float64
 56  AIT504.Pv      265500 non-null  float64
 57  PIT501.Pv      265500 non-null  float64
 58  PIT502.Pv      265500 non-null  float64
 59  PIT503.Pv      265500 non-null  float64
 60  P501.Status    265500 non-null  int64
 61  P501.Speed     265500 non-null  int64
 62  P502.Status    265500 non-null  int64
 63  P502.Speed     265500 non-null  int64
 64  MV501.Status   265500 non-null  int64
 65  MV502.Status   265500 non-null  int64
 66  MV503.Status   265500 non-null  int64
 67  MV504.Status   265500 non-null  int64
 68  P6_STATE       265500 non-null  int64
 69  LIT601.Pv      265500 non-null  float64
 70  LIT602.Pv      265500 non-null  float64
 71  FIT601.Pv      265500 non-null  float64
 72  FIT602.Pv      265500 non-null  float64
 73  P601.Status    265500 non-null  int64
 74  P602.Status    265500 non-null  int64
 75  P603.Status    265500 non-null  int64
 76  LSH601.Alarm   265500 non-null  object
 77  LSL601.Alarm   265500 non-null  object
 78  LSH602.Alarm   265500 non-null  object
 79  LSL602.Alarm   265500 non-null  object
 80  LSH603.Alarm   265500 non-null  object
 81  LSL603.Alarm   265500 non-null  object
dtypes: float64(30), int64(41), object(11)
memory usage: 166.1+ MB

# Observations 
* From my observation, all the columns with float64 datatype have a scalar value and these need to be scaled in the range (0,1). 
* All the int64 values are categorical some ranging from (0,5)
* We need to encode them so as to use for training. 
* All the columns which has *.Alarm can be considered as the output variables. We probably need to categorize them into 0,1.
* For more understanding on the data, we need to correlation plots between the int, float columns with the Alarm columns. 
* Also the column 't_stamp' is timestamp and could be dropped as it might not be of much importance.

In [67]:
int_df = data.select_dtypes(include='int64')
print(int_df.columns)
float_df = data.select_dtypes(include='float64')
print(float_df.columns)
alarm = data.select_dtypes(include='object')
print(alarm.columns)

Index(['P1_STATE', 'MV101.Status', 'P101.Status', 'P102.Status', 'P2_STATE',
       'MV201.Status', 'P201.Status', 'P202.Status', 'P203.Status',
       'P204.Status', 'P205.Status', 'P206.Status', 'P207.Status',
       'P208.Status', 'P3_STATE', 'MV301.Status', 'MV302.Status',
       'MV303.Status', 'MV304.Status', 'P301.Status', 'P302.Status',
       'P4_STATE', 'AIT401.Pv', 'P401.Status', 'P402.Status', 'P403.Status',
       'P404.Status', 'UV401.Status', 'P5_STATE', 'P501.Status', 'P501.Speed',
       'P502.Status', 'P502.Speed', 'MV501.Status', 'MV502.Status',
       'MV503.Status', 'MV504.Status', 'P6_STATE', 'P601.Status',
       'P602.Status', 'P603.Status'],
      dtype='object')
Index(['LIT101.Pv', 'FIT101.Pv', 'FIT201.Pv', 'AIT201.Pv', 'AIT202.Pv',
       'AIT203.Pv', 'AIT301.Pv', 'AIT302.Pv', 'AIT303.Pv', 'LIT301.Pv',
       'FIT301.Pv', 'DPIT301.Pv', 'LIT401.Pv', 'FIT401.Pv', 'AIT402.Pv',
       'FIT501.Pv', 'FIT502.Pv', 'FIT503.Pv', 'FIT504.Pv', 'AIT501.Pv',
       'AIT502.Pv', 'AIT503.Pv', 'AIT504.Pv', 'PIT501.Pv', 'PIT502.Pv',
       'PIT503.Pv', 'LIT601.Pv', 'LIT602.Pv', 'FIT601.Pv', 'FIT602.Pv'],
      dtype='object')
Index(['LS201.Alarm', 'LS202.Alarm', 'LSL203.Alarm', 'LSLL203.Alarm',
       'LS401.Alarm', 'LSH601.Alarm', 'LSL601.Alarm', 'LSH602.Alarm',
       'LSL602.Alarm', 'LSH603.Alarm', 'LSL603.Alarm'],
      dtype='object')